form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  max-width: 32em;
}
textarea {
  resize: vertical;
  width: 31em;
}
.braille {
  font-family: SilwelBrl, HSBRL01, SimBraille, Braille, monospace;
}

.float-left-container > *:not(legend):not(:has(+ table)) {
  float: left;
  margin-inline-end: 1em;
}
.float-left-container::after {
  content: '';
  display: block;
  clear: both;
}

#resultArea:has(> *) {
  max-width: 36em;
  margin-inline: auto;
  padding: 1em;
  border: thick double black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row {
  display: flex;
  align-items: flex-end;
  padding-block-end: 0.1em;
  border-block-end: 1px solid gray;
  margin-block-end: 0.5em;
}
table {
  /*border: 1px solid black;*/
  border-spacing: 0;
  text-align: center;
}
table,
tr,
td {
  padding: 0;
}
td {
  text-align: center;
  width: 1em;
}
/*.row table:not(table + table) {
  margin-inline-start: 0.1em;
}*/
.row table:not(:has(+ table)) {
  margin-inline-end: 0.1em;
}
.row span {
  /*padding-block-start: 0.2em;*/
  display: inline-block;
  width: 1em;
}
.insertion,
.mismatch,
.deletion {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 0, 0, 1);
}
.enter {
  background-color: rgba(255, 0, 0, 0.2);
}
